<launch>
  <!-- Launch argument for config path -->
  <arg name="config_path" default="config/simu.yaml" description="Path to the configuration YAML file"/>
  
  <!-- Main calibration node -->
  <node pkg="oa_licalib" exec="li_calib_node" name="li_calib_node_batch" output="screen">
    <param name="config_path" value="$(var config_path)"/>
  </node>
</launch>